<!DOCTYPE html>
<html>
<head>
  <title>Modesty</title>
  <%= stylesheet_link_tag    "modesty/application", media: "all" %>
  <%= javascript_include_tag "modesty/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
